body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(126, 17, 17);
}
p {
  font-size: 20px;
  padding: 4px auto;
}
img {
  width: 250px;
  height: auto;
}
.food-name {
  font-weight: 800;
  text-align: center;
}
.food-description {
  font-style: italic;
}

.directions#steps {
  font-size: 25px;
}
